USE [Eshop]
GO
/****** Object:  Table [dbo].[brands$]    Script Date: 25.12.2025 4:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands$](
	[id] [float] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_brands$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories$]    Script Date: 25.12.2025 4:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories$](
	[id] [float] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_categories$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_tags$]    Script Date: 25.12.2025 4:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_tags$](
	[product_id] [float] NOT NULL,
	[tag_id] [float] NOT NULL,
 CONSTRAINT [PK_product_tags$] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products$]    Script Date: 25.12.2025 4:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products$](
	[id] [float] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](255) NOT NULL,
	[price] [float] NOT NULL,
	[stock] [float] NOT NULL,
	[rating] [float] NOT NULL,
	[created_at] [nvarchar](255) NOT NULL,
	[category_id] [float] NOT NULL,
	[brand_id] [float] NOT NULL,
 CONSTRAINT [PK_products$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags$]    Script Date: 25.12.2025 4:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags$](
	[id] [float] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_tags$] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[product_tags$]  WITH CHECK ADD  CONSTRAINT [FK_product_tags$_products$] FOREIGN KEY([product_id])
REFERENCES [dbo].[products$] ([id])
GO
ALTER TABLE [dbo].[product_tags$] CHECK CONSTRAINT [FK_product_tags$_products$]
GO
ALTER TABLE [dbo].[product_tags$]  WITH CHECK ADD  CONSTRAINT [FK_product_tags$_tags$] FOREIGN KEY([tag_id])
REFERENCES [dbo].[tags$] ([id])
GO
ALTER TABLE [dbo].[product_tags$] CHECK CONSTRAINT [FK_product_tags$_tags$]
GO
ALTER TABLE [dbo].[products$]  WITH CHECK ADD  CONSTRAINT [FK_products$_brands$] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands$] ([id])
GO
ALTER TABLE [dbo].[products$] CHECK CONSTRAINT [FK_products$_brands$]
GO
ALTER TABLE [dbo].[products$]  WITH CHECK ADD  CONSTRAINT [FK_products$_categories$] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories$] ([id])
GO
ALTER TABLE [dbo].[products$] CHECK CONSTRAINT [FK_products$_categories$]
GO
